<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Store</title>
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div id="app">
        <header>
            <div class="logo">E-shop</div>
            <div class="cart">
                <form action="#" class="search-form" >
                    <input type="text" class="search-field" v-model.lazy="filterValue">
                    <button class="btn-search" type="submit">
                        <i class="fas fa-search"></i>
                    </button>
                </form>
                <button class="btn-cart" type="button" v-on:click="visible = !visible">Корзина</button>
                <div class="cart-block" v-show="visible">
                    <div v-if="cartItems.length === 0">Добавьте товары в корзину</div>
                    <div class="cart-item" v-for="cartItem of cartItems" :key="cartItem.id_product" v-else>
                        <div class="product-bio">
                            <img :src="imgCart" alt="Some image">
                            <div class="product-desc">
                                <p class="product-title">{{ cartItem.product_name }}</p>
                                <p class="product-quantity">Quantity: {{cartItem.quantity}}
                                    <button v-on:click="cartItem.quantity++">+</button></p>
                                <p class="product-single-price">$ {{ cartItem.price }} each</p>
                            </div>
                        </div>
                        <div class="right-block">
                            <p class="product-price">$${{cartItem.quantity*cartItem.price}}</p>
                            <button class="del-btn" v-on:click="removeProduct(cartItem)">&times;</button>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <main>
            <div class="products">
                <div class="product-item" v-for="el of filterOfGoods" :key="el.id_product">
                    <img :src="imgCatalog" :alt="el.product_name">
                    <div class="desc">
                        <h3>{{ el.product_name }}</h3>
                        <p>{{ el.price }}</p>
                        <button class="buy-btn"   @click="addProduct(el)">Купить</button>
                    </div>
                </div>
            </div>
        </main>
    </div>
    <script defer src="https://use.fontawesome.com/releases/v5.7.2/js/all.js" integrity="sha384-0pzryjIRos8mFBWMzSSZApWtPl/5++eIfzYmTgBBmXYdhvxPc+XcFEk+zJwDgWbP" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue@next"></script>
<script defer src="js/main.js"></script>
</body>
</html>

<!--<div class="cart-item" data-id="${this.id_product}">-->
<!--<div class="product-bio">-->
<!--<img src="${this.img}" alt="Some image">-->
<!--<div class="product-desc">-->
<!--<p class="product-title">${this.product_name}</p>-->
<!--<p class="product-quantity">Quantity: ${this.quantity}</p>-->
<!--<p class="product-single-price">$${this.price} each</p>-->
<!--</div>-->
<!--</div>-->
<!--<div class="right-block">-->
<!--<p class="product-price">$${this.quantity*this.price}</p>-->
<!--<button class="del-btn" data-id="${this.id_product}">&times;</button>-->
<!--</div>-->
<!--</div>-->